body, html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: aquamarine;
}

#container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

#main-grid{
	position: relative;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.4);
/* 	background: white;
 */	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
/* 	border: 1px solid black;
 */}

.tile{
	position: absolute;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
/* 	border: 1px solid black;
 */}

.tile img{
	width: 100%;
}

#monitor{
	width: 150px;
	height: 100%;
	overflow: scroll;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.4);
	font-family: monospace;
	color: white;
}

#monitor ul{
	padding: 5px 10px;
	list-style-type: none; 
}

#monitor li{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 12px 0;
}

#monitor img{
	margin: 0 5px 0 0;
	width: 16px;
}

#controls{
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-family: Verdana, Arial;
}

#controls > *{
	margin: 4px 0;
}

#blanks{
	width: 15px;
}

.btn{
	width: 75px;
	height: 50px;
	font-size: 1rem;
	font-weight: 700;
}

.btn:focus{
	outline: none;
}

