body, html{
	height: 100%;
	width: 100%;
}

#container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: aquamarine;
}

#main-grid{
	position: relative;
	overflow: visible;
	background: black;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.tile{
	position: absolute;
}

#monitor{
	padding: 1rem;
	background: black;
	color: aquamarine;
	font-family: monospace;
}

